.Main{
    background-color:  aliceblue;
    color:black;
}
.body{
    font-family: 'Arial', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Iframe{
    width: 100%;
    height: 300px;
}