/*File created by Henry letellier, to easily insert it in the html page, put the css between these two beacons (with the apropriate <></>) style the CSS /style */
html{
  margin-top:0px;
}
/*Customisation of the reset button*/
#reset{
  background-color:white;
}
#calc{
  background-color:white;
}

/*Customisation of the size of the ; on the first line*/
#big{
  font-size:2em;
  font-weight:bolder;
}

/*Customisation of the links*/
#link{
  color:blue;
  text-decoration:none;
  text-align:center;
}
#link:clicked{color:blue;}
#link:hover{background-color:grey;}

/*customisation of the block caption (<caption>)*/
#caption{
  text-align:center;
  font-weight:bolder;
  font-size:2em;
  background-color:limegreen;
}

/* #e500{color:red;} */

/*Beginning of the mediaQuery mode*/
@media screen and (max-width: 1280px)
{
  /*general stylisation of the table (<table>)*/
  #flexleg{
    border-collapse: collapse;
    display:flex;
    flex-wrap:wrap;
  }
   /*class for the image row of the table*/
  .tD{
    column-width: 70px;
    column-height: 50px;
    word-break: break-all;
    margin:0px;
    text-align:center;
  }
  /*Appliying size to the coin images*/
  #ic1,#ic2,#ic5,#ic10,#ic20,#ic50,#ie1,#ie2{
    width:59px;
    height:59px;
  }
  /*Applying size to the bancknote images*/
  #ie5,#ie10,#ie20,#ie50,#ie100,#ie200,#ie500{
    width:79px;
    height:46px;
  }
  /*Customising the js + spans under the images + font-size*/
  #c1,#c2,#c5,#c10,#c20,#c50,#e1,#e2,#e5,#e10,#e20,#e50,#e100,#e200,#e500{
    text-align:center;
    font-size:10px;
  }
/*changing font-size*/
#fc1,#fc2,#fc5,#fc10,#fc20,#fc50,#fe1,#fe2,#fe5,#fe10,#fe20,#fe50,#fe100,#fe200,#fe500{
    text-align:center;
    font-size:10px;
  }
  
}
@media all
{
   /*general stylisation of the table (<table>)*/
  #flexleg{
    border-collapse: collapse;
    text-align:center;
    overflow:hidden;
    overflow:scroll;
  }
  /*class for the image row of the table*/
  .tD{
    column-width: 70px;
    column-height: 50px;
    word-break: break-all;
    margin:0px;
    text-align:center;
  }
  /*Appliying size to the coin images*/
  #ic1,#ic2,#ic5,#ic10,#ic20,#ic50,#ie1,#ie2{
    width:59px;
    height:59px;
  }
  /*Applying size to the bancknote images*/
  #ie5,#ie10,#ie20,#ie50,#ie100,#ie200,#ie500{
    width:69px;
    height:46px;
  }
   /*Customising the js + spans under the images + font-size*/
  #c1,#c2,#c5,#c10,#c20,#c50,#e1,#e2,#e5,#e10,#e20,#e50,#e100,#e200,#e500{
    text-align:center;
    font-size:12px;
    font-weight:bolder;
    word-break: break-all;
  }
  #link{word-break: break-all;}
  /*changement de la taille du texte*/
  #fc1,#fc2,#fc5,#fc10,#fc20,#fc50,#fe1,#fe2,#fe5,#fe10,#fe20,#fe50,#fe100,#fe200,#fe500{
    text-align:center;
    font-size:12px;
    word-break: break-all;
  }
}
