h1

{

color :#ff6600;
font-family :'Pacifico', cursive;
margin :10px;
}



.image-cadre img
{

	display: block;
	width: 100%;
	height: auto;
	border-radius: 10rem;
}

.image-/cadre img
{
		font-family: 'Neucha', cursive; 
}
#n/umber
{
	color :#00bfff;
}

.text/Green 
{
 color: #ffffff
}

.text/Green 
{
 color: #ff3999
}

img
{
	display: block;
	margin: auto;
}

.e/lem

{

	margin:10px;
	border: 1px solid #ffffff;
	padding: 10px;
	border-radius: 25rem;
	background-color: #66ff66;
}

.btn-/buy
{

	background-color: #AAA911;

	color: #FFFFFF;
}

.bt/n-buy:hover:enabled
{
	background-color: #20AA11;
	cursor: pointer;
}


.cl/icky

{
	transition-duration: 0.2s;
	cursor: pointer;
	opacity: 0.9;

}

.c/licky:active
{
	transform: translateY(10px);
	opacity: 1;
}

.cl/icky:hover
{
opacity: 1;
}